<div class="login-wrap">
  <h2>Agregar equipo</h2>
  
  <div class="form">
    <input type="text" id="name" placeholder="Nombre del equipo">
    <button onclick="addTeam();"> Agregar equipo </button>
  </div>
</div>