<div class="login-wrap">
  <h2>Comprar jugador</h2>
  
  <div class="form">
    <input type="text" id="playerid" placeholder="Player ID">
    <input type="text" id="teamid" placeholder="Team ID"/>
    <button onclick="buy();" id="button"> Comprar </button>
  </div>
</div>