<div class="login-wrap">
  <h2>Login</h2>
  
  <div class="form">
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password"/>
    <button onclick="login();" id="button"> Iniciar sesión </button>
    <a href="/register"> <p> ¿No tenes cuenta? Registrate </p></a>
  </div>
</div>