<button><a href="/myteams/create" target="_blank">Agregar equipo</a></button>
<table align="center" >
    <tr>
        <th>ID Equipo</th>
        <th>Nombre equipo</th>
        <th>Ver jugadores</th>
    </tr>
{{#each teams}}
<tr>
    <th>{{this.TeamID}}</th>
    <th>{{this.TeamName}}</th>
    <th><button ><a href="/myteams/{{this.TeamID}}">Ver jugadores</a></button></th>
</tr>
{{/each}}
</table>