<div class="login-wrap">
  <h2>Sign up</h2>
  
  <div class="form">
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password"/>
    <button onclick="signUp();"> Registrarse </button>
    <a href="/"> <p> ¿Ya tenes cuenta? Inicia sesión </p></a>
  </div>
</div>